    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Vet JC</h2>
              <br/>
              <img alt="Jonathan Cranston" title="Jonathan Cranston, founder of Vet JC" src="img/jon.png" class="pull-left img-circle">
                <p>Jonathan Cranston graduated from the Royal Veterinary College in July 2006 achieving a distinction in Clinical Studies. His six years of study included a year at King’s College London where he gained an upper second in Pharmacology in 2003.
                </p> In July 2006 he took a position at Charter Veterinary Group, North Devon becoming their only genuine mixed practitioner. With 1 operating day a week he was able to develop his surgical skills while the rest of his week was split between the consult room and the car. He spent the first 18 months working on the large animal on-call rota becoming competent with all routine farm and equine emergencies. 
                <p>At the end of 2007 he switched onto the small animal rota, enabling him to enhance his skills with small animal emergency medicine and surgery. At this time he took the opportunity to get involved with the work at two local wildlife parks, becoming their main vet in April 2008. This was a very varied case load giving him a wide range of experience and also involved working closely with the head keepers developing and implementing health plans with help from the IZVG.</p>
  <p>In May 2009 he started working 2 shifts a month for VetsNow Bristol. The work was sole charge leading a group of 2 veterinary nurses and a receptionist.</p>
  <p>In May 2010 after six months traveling he returned to England, and started doing freelance veterinary work. Between May and October he worked in practices in Gloucestershire, Worcestershire, Oxfordshire and Scotland.
Then in October 2010 he took a long term locum post at Larkmead Veterinary Group, Oxfordshire joining the large animal department with the primary focus of cattle fertility work and ambulatory equine work, but keeping his hand in with small animal at weekends.</p>
  <p>In August 2011 he spend a month working with Wildlife Vets in South Africa on a variety of game including the "Big Five!"</p>
 <p>Now nine years qualified he is a competent mixed general practitioner able to help out in practices around Gloucestershire, Worcestershire and Oxfordshire.</p>
                <br/>
              </div>
        </div>
    </section>
