    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Vet JC</h2>
              <br/>
                <p>In hac habitasse platea dictumst. Nullam eu urna semper, vestibulum justo quis, sagittis quam. Sed tempus aliquam felis finibus tristique. <a href="http://join.deathtothestockphoto.com//">Death to the Stock Photo</a>.</p>
                <p>Sed tempus aliquam felis finibus tristique. In odio risus, euismod vel fermentum id, lacinia vitae metus. Nullam eu urna semper.</p>
                <br/>
              </div>
        </div>
    </section>
