    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Vet JC</h2>
              <br/>
                <p>Jonathan Cranston graduated from the Royal Veterinary College in July 2006 achieving a distinction in Clinical Studies. His six years of study included a year at King’s College London where he gained an upper second in Pharmacology in 2003.</p>
                <br/>
              </div>
        </div>
    </section>
